@use "../variable" as v

.sidebar
  background: v.$sidebar-color

.sidebar-menu-sub-list
   margin-bottom: 16px

.sidebar-menu-title
  font-size: 0.8rem
  margin-bottom: 0.2rem
  margin-left: 16px
  
.sidebar-menu 
  
  a
    display: block
    padding-left: 16px

    &:hover
      background: black


@media (max-width: 576px)  /*サイドバーが消える*/
  .sidebar
    display: none